@import 'mixin';

:root {
  --color: #ddbc8f;
  --menu: #ffffff;
  --font: Montserrat;
}

body {
  @include margin;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: var(--color);
  font-family: var(--font);
}
