footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 455em;
  left: 0;
  right: 0;
  height: 200px;
  padding-bottom: 30px;
}
footer .footer-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  align-items: start;
  gap: 15em;
  flex-wrap: wrap;
}
footer .footer-texts .title {
  width: 280px;
  font-size: 25px;
  font-weight: 300;
}
footer .footer-texts .footer-paragraph .paragraph {
  width: 400px;
  font-size: 13px;
  line-height: 1.8em;
}
footer .footer-texts .footer-paragraph .image {
  width: 35px;
}

@media (max-width: 1030px) {
  footer {
    top: 500em;
  }
  footer .footer-texts {
    gap: 13em;
  }
}
@media (max-width: 1010px) {
  footer {
    top: 505em;
  }
  footer .footer-texts {
    gap: 13em;
  }
}
@media (max-width: 940px) {
  footer .footer-texts {
    gap: 10em;
  }
  footer .footer-texts .title {
    width: 220px;
    font-size: 20px;
  }
  footer .footer-texts .footer-paragraph .paragraph {
    width: 400px;
    font-size: 12px;
    line-height: 1.8em;
  }
}
@media (max-width: 900px) {
  footer {
    top: 470em;
  }
}
@media (max-width: 845px) {
  footer {
    top: 512em;
  }
  footer .footer-texts {
    gap: 7em;
  }
  footer .footer-texts .title {
    width: 200px;
    font-size: 18px;
  }
  footer .footer-texts .footer-paragraph .paragraph {
    width: 350px;
    font-size: 11px;
    line-height: 1.8em;
  }
  footer .footer-texts .footer-paragraph .image {
    width: 30px;
  }
}
@media (max-width: 700px) {
  footer {
    top: 465em;
  }
  footer .footer-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  footer .footer-texts .title {
    width: 200px;
    font-size: 18px;
  }
  footer .footer-texts .footer-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  footer .footer-texts .footer-paragraph .paragraph {
    width: 350px;
    font-size: 11px;
    line-height: 1.8em;
  }
  footer .footer-texts .footer-paragraph .image {
    width: 30px;
  }
}
@media (max-width: 600px) {
  footer {
    top: 405em;
  }
}
@media (max-width: 500px) {
  footer {
    top: 378em;
  }
}
@media (max-width: 400px) {
  footer {
    top: 360em;
  }
  footer .footer-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  footer .footer-texts .title {
    width: 170px;
    font-size: 16px;
  }
  footer .footer-texts .footer-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  footer .footer-texts .footer-paragraph .paragraph {
    width: 340px;
    font-size: 9px;
    line-height: 1.8em;
  }
  footer .footer-texts .footer-paragraph .image {
    width: 25px;
  }
}
@media (max-width: 350px) {
  footer {
    top: 330em;
  }
  footer .footer-texts .footer-paragraph .paragraph {
    width: 270px;
    font-size: 9px;
    line-height: 1.8em;
  }
}/*# sourceMappingURL=footer.css.map */