@import "mixin";

:root {
  --color: #ddbc8f;
  --menu: #ffffff;
  --font: Montserrat;
}
.navbar {
  @include content-row;
  color: var(--color);
  width: 100%;

  .icon {
    @include content-row;
    @include margin;
    font-family: Comfortaa;
    font-size: 2rem;
    list-style: none;
    position: absolute;
    top: 0;
    left: 40px;
    height: 64px;
  }

  .navbar-list {
    @include margin;
    @include content-row;
    list-style: none;
    font-family: var(--font);
    height: 4rem;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 50px;

    .hideOnMobile:hover {
      @include hover;
    }

    svg {
      fill: var(--menu);
    }
  }

  .menu-button {
    display: none;
  }

  .sidebar {
    @include margin;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 250px;
    box-shadow: -10px 0 10px rgba(122, 122, 122, 0.096);
    background: black;
    list-style: none;
    display: none;
    font-family: Comfortaa;
    z-index: 1;

    .list {
      width: 100%;
      padding-top: 30px;
    }

    .list:hover {
      @include hover;
    }

    svg {
      fill: var(--menu);
    }
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .navbar {
    .menu-button {
      display: block;
    }
  }
}
